// Base colors
// ------------------------------------------------------------

@c-transparent: rgba(0, 0, 0, 0);
@c-current: currentColor;

@c-white: #ffffff;
@c-black: #000000;

//  Typography
// ------------------------------------------------------------

// Base Font family
@ff-base: "Poppins", Helvetica, Arial, sans-serif;

// Base font size
@fz-base: 14px;

// Base line height
@lh-base: 1.4;

// Base text color
@c-base: #72787a;

@w-container: 1620px;
