body {
    font-family: $font;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 84.375%;
    max-width: 1620px;
}

.inner-container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1180px;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@mixin btn($color) {
    display: inline-block;
    padding: 25px 60px;
    background: transparent;
    border: 1px solid $color;
    border-radius: 50px;
    color: $color;
    cursor: pointer;
    font-family: $font;
    font-size: 12px;
    font-weight: $bold;
    text-transform: uppercase;
    transition: background $time, color $time;

    &:hover {
        background: $color;
        color: invert($color);
    }
}