$desktop-hd-width: 1920px;
$desktop-wide-width: 1680px;
$desktop-width: 1366px;
$tablet-landscape-width: 1024px;
$tablet-portrait-width: 768px;
$phone-landscape-width: 669px;
$phone-portrait-width: 414px;

$white: #fff;
$black: #000;
$black-two: #2a2d2e;
$violet: #7443ff;
$violet-two: #202129;
$oceanic: #93eef9;
$gray: #e5e5e5;


$time: .3s;
$time-half: $time / 2;
$time-double: $time * 2;

$font: 'Poppins', 'Helvetica', 'Arial', sans-serif;

$light: 300; 
$regular: 400;
$medium: 500; 
$semi-bold: 600; 
$bold: 700; 