.hamburger {
  position: relative;
  display: inline-block;
  margin-top: .4rem;
  padding: .4rem;
  font-size: 0;
  cursor: pointer;
  transition: opacity, filter .15s linear;
  z-index: 20;

  &-box {
    position: relative;
    display: inline-block;
    width: 1.8rem;
    height: 1.4rem;
  }

  &-inner {
    position: absolute;
    display: block;
    top: 0;
    width: 1.8rem;
    height: .2rem;
    background-color: $hamburger-bg;
    transition: background-color 0s .13s linear;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      background-color: $hamburger-bg;
      transition: transform .15s ease;
    }

    &::before {
      top: .6rem;
      transition: top .1s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);

    }

    &::after {
      top: 1.2rem;
      bottom: -1rem;
      transition: top .2s .2s cubic-bezier(.33333, .66667, .66667, 1), transform .13s cubic-bezier(.55, .055, .675, .19);

    }
  }

  &.is-active {
    .hamburger-inner {
      background-color: transparent;
      transition-delay: .22s;

      &::before,
      &::after {
        top: -.4rem;
      }

      &::before {
        transform: translate3d(0, 1rem, 0) rotate(45deg);
        transition: top .1s .15s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .22s cubic-bezier(.215, .61, .355, 1);
      }

      &::after {
        transform: translate3d(0, 1rem, 0) rotate(-45deg);
        transition: top .2s cubic-bezier(.33333, 0, .66667, .33333), transform .13s .22s cubic-bezier(.215, .61, .355, 1);
      }
    }
  }
}
