@import 'base/variables.scss';
@import 'base/reset.scss';
@import 'base/fonts.scss';
@import 'base/common.scss';

@import 'components/_header.scss';
@import 'components/_grid-section.scss';
@import 'components/_plans.scss';
@import 'components/_social.scss';
@import 'components/_keep-in-touch.scss';