


$screen-md-max: 970px;
$screen-sm-max: 780px;
$screen-xs-max: 550px;


$main-color: #11369E;
$success-color: #189947;
$warn-color: #DDA541;
$danger-color: #BC3030;
$border-color: #E6E9ED;
$light-color: #F5F5F8;
$lightest-color: #FFFFFF;
$text-color: #1B1D1F;
$gray-color: #525F76;
$disabled-color: rgba(82, 95, 118, 0.4);
$close-color: #282E3E;

$font-size-main: 14px;


$main-font: 'Source Sans Pro', sans-serif;

